<section class="section py-7 text-dark" style="background-color: #ffebb7;">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-9">
        <h4 class="mb-0 text-dark text-center text-md-left fw-300">
            Simplify Your Team Management Today!
        </h4>
      </div>
      <div class="col-md-3 text-center text-md-right">
        <a
          class="btn btn-lg btn-round btn-dark text-white"
          href="https://dashboard.remoteteam.com/auth/sign-up"
          >Try it Free!</a
        >
      </div>
    </div>
  </div>
</section>
