<div class="section text-white py-8" style="background-color: #2d46c1 !important;">
  <div class="container">
    <header class="section-header mb-6">
      <span class="display-3 fw-900 h2"> Free up to 3 People </span>
    </header>
    <p class="text-center">
      <a class="btn btn-xl btn-round btn-light w-250" href="https://dashboard.remoteteam.com/auth/sign-up?email=">
        Try it FREE
      </a>
      <br>
      <small class="text-white opacity-80"> No credit card required! </small>
    </p>
  </div>
</div>