<div>
  <a
    class="btn btn-round btn-primary btn-lg shadow-3 px-4"
    href="{{ if isset .Params "cta_url" }}{{ $.Params.cta_url }}{{ else }}/affiliate-program/apply/{{ end }}"
    style="background-color: #de774e;border:none;"
  >
    {{ if isset .Params "cta_button_text" }}
      {{ $.Params.cta_button_text }}
    {{ else }}
      Join Now
    {{ end }}
  </a>
  <br />
  <small style="font-size: 12px;">
    {{ if isset .Params "cta_subtitle" }}
      {{ $.Params.cta_subtitle }}
    {{ else }}
      Start Earnings!
    {{ end }}
  </small>
</div>
