<div id="mc_embed_signup">
    <h1>Master remote work. Build virtual teams.</h1>
    <p>Get free remote work insights and resources delivered to your inbox, once every week.</p>
    <form action="https://remoteteam.us4.list-manage.com/subscribe/post?u=a5760af353b862f203c4fc8d6&amp;id=1fe6757793" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form-row">
        <div class="col-md-8 col-sm-12 pb-2">
          <input class="form-control" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="your email" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a5760af353b862f203c4fc8d6_1fe6757793" tabindex="-1" value=""></div>
        </div>
        <div class="col-md-4 col-sm-12 pb-2">
          <input class="btn btn-secondary btn-lg" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </div>
      </div>
    </form>
</div>