<head>
  <meta charset="utf-8">
  {{ if .IsHome }}
    <title>{{ .Title }}</title>
  {{ else }}
  <title>{{ .Title }} | Remote Team</title>
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <!-- <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon"> -->

  <link rel="preconnect" href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="dns-prefetch" href="https://res.cloudinary.com/">
  <link rel="preconnect" href="https://res.cloudinary.com/">

  <link href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ with .Site.Params.theme_color }}
  <meta name="theme-color" content="{{ . }}">
  {{ end }}

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  {{ if isset .Params "image" }}
    <meta property="og:image" content="{{ $.Params.image }}">
  {{ else }} 
    <meta name="og:image" content="https://res.cloudinary.com/hebu10lmu/image/upload/q_auto,f_auto/v1579546388/www/main_general_ppakmj.jpg" />
  {{ end }} 
  
  <style>
    :root{
      --primary-color:{{ .Site.Params.theme_color }};
    }
  </style>

  <script type="application/ld+json">
    {
      "url": "{{ .Site.BaseURL }}",
      "name": "{{ .Title }}",
      "headline": "{{ .Title }}",
      "description": "{{ .Description }}",
      "@type": "WebSite",
      "@context": "http://schema.org"
    }
  </script>
  
  {{ with resources.Get "scss/main.scss" | toCSS | minify }}
    <style>{{ .Content | safeCSS }}</style>
  {{ end }}

</head>