<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
  <link rel="icon" href="{{ `images/favicon.png` | absURL }} " type="image/x-icon">

  <link rel="preconnect" href="{{ .Site.BaseURL }}">
  <link rel="canonical" href="{{ .Permalink }}">

  <link href="{{ .Site.BaseURL }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
  <meta property="og:image" content="{{ if .Params.image }}{{.Site.BaseURL}}/images/{{.Params.image}}{{ else }}{{.Site.BaseURL}}/images/site-logo.png{{ end }}">
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">

  <style>
    :root{
      --primary-color:{{ .Site.Params.theme_color }};
    }
  </style>

  {{ with resources.Get "scss/main.scss" | toCSS | minify }}
  <style>{{ .Content | safeCSS }}</style>
  {{ end }}

</head>