<!-- page title -->
<main class="main-content">
  <header
    class="header text-white bg-dark"
    style="background-color: #2d46c1 !important;"
  >
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="w-75 mx-auto">
            {{ if isset .Params "headline" }}
              <h2 class="d-inline-block">
                {{ $.Params.headline }}
              </h2>
            {{ else }} 
              <h2 class="d-inline-block">
                {{ .Title }}
              </h2>
            {{ end }} 
            
            {{ if isset .Params "summary" }}
            <p>{{ $.Params.summary }}</p>
            {{ end }}
             
            
            {{ if isset .Params "headline_img" }}
            <img
              loading="lazy"
              width="120"
              alt="{{ $.Params.title }}"
              src="{{ $.Params.headline_img }}"
            />
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </header>
</main>
<!-- /page title -->
