
    {{ if eq .view "TextRightImageLeft" }}
    <section class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
      <div class="container">
        <div class="row ">
          <div
            class="col-md-6 align-self-center text-center text-md-left order-md-1 order-sm-1 order-xs-1"
          >
            <h3 class="mb-3 mt-2">
              {{ .title }}
            </h3>
            <p>
              {{ .description }}
            </p>
            {{ if eq .cta true }}
              {{ partial "cta-button.html" . }}
            {{end}}
          </div>

          <div class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-2 order-sm-2 order-xs-2 m-2">
              <img loading="lazy"  alt="{{ .title }}" src="{{ .image }}" />
          </div>
        </div>
      </div>
    </section>
    {{ else if eq .view "TextLeftImageRight" }}
      <section
        class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
        <div class="container">
          <div class="row">
            <div
              class="col-md-6 align-self-center text-center text-md-left order-md-2 order-sm-1 order-xs-1"
            >
              <h3 class="mb-3 mt-2">
                {{ .title }}
              </h3>
              <p>
                {{ .description }}
              </p>
              {{ if eq .cta true }}
                {{ partial "cta-button.html" . }}
              {{end}}
            </div>

            <div class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-1 order-sm-2 order-xs-2 m-2">
                <img loading="lazy"  alt="{{ .title }}" src="{{ .image }}" />
            </div>
          </div>
        </div>
      </section>
    {{ else if eq .view "TextImageCentered" }}
    <section class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
      <div class="container">
        <div class="row mx-auto">
          <div class="col-md-12 text-center order-md-1 order-sm-1 order-xs-1">
            {{ if .image }}
                <img loading="lazy"  alt="{{ .title }}" src="{{ .image }}" />
            {{ end }}
            <h3 class="mb-3 mt-2">{{ .title }}</h3>
            <div class="w-75 mx-auto mb-7">
              <p>{{ .description }}</p>
              {{ if eq .cta true }}
                {{ partial "cta-button.html" . }}
              {{end}}
             </div>
             
          </div>
        </div>
      </div>
    </section>
    {{ else if eq .view "ContentListLeftImageRight" }}
      <section class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
        <div class="container">
          <div class="row ">
            <div
              class="col-md-6 align-self-center text-center text-md-left order-md-1 order-sm-1 order-xs-1"
            >
              {{ range .content }}
                <h3 class="mb-3 mt-2">
                  {{ .title }}
                </h3>
                <p>
                  {{ .description }}
                </p>
              {{ end }}
              
              {{ if eq .cta true }}
                {{ partial "cta-button.html" . }}
              {{end}}
            </div>

            <div
              class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-2 order-sm-2 order-xs-2"
            >
                <img loading="lazy"  alt="{{ .title }}" src="{{ .image }}" />
            </div>
          </div>
        </div>
      </section>
      {{ else if eq .view "ContentListRightImageLeft" }}
      <section
        class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
        <div class="container">
          <div class="row ">
            <div class="col-md-6 align-self-center text-center text-md-left order-md-2 order-sm-1 order-xs-1">
              {{ range .content }}
                <h3 class="mb-3 mt-2">
                  {{ .title }}
                </h3>
                <p>
                  {{ .description }}
                </p>
              {{ end }}
              {{ if eq .cta true }}
                {{ partial "cta-button.html" . }}
              {{end}}
            </div>
            <div class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-1 order-sm-2 order-xs-2">
                <img loading="lazy"  alt="{{ .title }}" src="{{ .image }}" />
            </div>
          </div>
        </div>
      </section>
      {{ else if eq .view "TextRightWithRibbon" }}
      <section class="section overflow-hidden align-items-center py-4 py-md-6">
        <div class="container">
          <div class="row align-items-center">
            <div
              class="col-md-6 align-self-center text-center text-md-left order-md-2 order-sm-1 order-xs-1"
            >
              <p class="text-md-right text-center mb-0">
                <span class="iconbox liner left" id="{{ .ribbon }}"><span>{{ .ribbon }}</span></span>
              </p>
    
              <div class="mr-md-9 ml-md-8 ml-md-0">
                <h3 class="mb-3 mt-2">
                  {{ .title }}
                </h3>
                <p>
                  {{ .description }}
                </p>
              </div>
            </div>
            <div
              class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-1 order-sm-2 order-xs-2"
            >
              <div class="ml-md-8 ml-md-0 img-container">
                <img loading="lazy"  alt="{{ .title }}" src="{{ .image }}" />
              </div>
            </div>
          </div>
        </div>
      </section>
      {{ else if eq .view "TextLeftWithRibbon" }}
      <section class="section overflow-hidden align-items-center py-4 py-md-6">
        <div class="container">
          <div class="row align-items-center">
            <div
              class="col-md-6 align-self-center text-center text-md-left order-md-1 order-sm-1 order-xs-1"
            >
              <span class="iconbox liner right" id="{{ .ribbon }}"><span>{{ .ribbon }}</span></span>
              <div class="ml-md-9 ml-md-8">
                <h3 class="mb-3 mt-2">
                  {{ .title }}
                </h3>
                <p>
                  {{ .description }}
                </p>
              </div>
            </div>
    
            <div
              class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-2 order-sm-2 order-xs-2"
            >
              <div class="ml-md-8 ml-md-0 img-container">
               <img src="https://res.cloudinary.com/hebu10lmu/image/upload/c_scale,w_560,f_auto,q_auto/v1580197779/www/2_qxaplu.jpg"
                 loading="lazy"  alt="{{ .title }}" />
              </div>
            </div>
          </div>
        </div>
      </section>
      {{ else if eq .view "FeatureList3ColumntGrids" }}
      <section class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
        <div class="container">
          <div class="row gap-y text-center">

            {{ range .content }}
                <div class="col-md-6 col-xl-4 my-4 text-left feature-1">
                  <div class="media p-1">
                    <div class="lead-6 line-height-1 text-dark w-70px">
                     <img src="{{ .image }}"  loading="lazy"  alt="{{ .title }}"
                      class="ml-2" />
                    </div>
                    <div class="media-body">
                      <h3 class="lead-2">{{ .title }}</h3>
                      <p class="text-muted">
                        {{ .description }}
                      </p>
                    </div>
                  </div>
                </div>
              {{ end }}
            
          </div>
        </div>
      </section>
      {{ else if eq .view "TitleList3ColumntGrids" }}
        <section class="section bg-gray overflow-hidden align-items-center py-4 py-md-6">
          <div class="container">
            <div class="row gap-y text-center">

              {{ range .content }}
                  <div class="col-12 col-md-4 col-xl-4 my-4 text-center">
                    <div class="media p-1">
                      <div class="media-body">
                        <img loading="lazy" src="{{ .image }}" alt="{{ .title }}" />
                        <h3 class="text-muted">
                          {{ .title }}
                        </h3>
                      </div>
                    </div>
                  </div>
                {{ end }}
              
            </div>
          </div>
        </section>
        {{ else if eq .view "OnlyTitle" }}
          <section class="section bg-gray overflow-hidden pt-6 pb-2">
            <div class="container">
              <h1 class="text-center">
                {{ .title }}
              </h1>
            </div>
          </section>
        {{ end }}












