{{ define "main" }}
  {{ partial "page-headline.html" . }}
  
  {{ if .Site.Data.platforms.transferwise.sections.enable }}
    {{ with .Site.Data.platforms.transferwise.sections }}
      <div class="sections" >
        {{ range .item }}
          {{ partial "section.html" . }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}

  {{ if .Site.Data.platforms.desktime.sections.enable }}
    {{ with .Site.Data.platforms.desktime.sections }}
      <div class="sections" >
        {{ range .item }}
          {{ partial "section.html" . }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
    

  {{ if .Site.Data.platforms.toggl.sections.enable }}
    {{ with .Site.Data.platforms.toggl.sections }}
      <div class="sections" >
        {{ range .item }}
          {{ partial "section.html" . }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}


  {{ partial "cta-bold.html" . }}
  
  {{ end }}
