{{ define "main" }}

  {{ partial "page-headline.html" . }}

  <section
    class="section bg-gray overflow-hidden align-items-center py-4 py-md-6"
  >
    <div class="container">
      <div class="row ">
        <div
          class="col-md-6 align-self-center text-center text-md-left order-md-1 order-sm-1 order-xs-1"
        >
          <h3 class="mb-3 mt-2">
            Know the status of your payment
          </h3>
          <p>
            Stop guessing the status of your payments to remote employees and
            freelancers. Track the status of your payments at every stage of the
            transfer. Get visibility of how your money travels and how long it
            takes to be credited to your remote employees’ accounts at no extra
            cost.
          </p>
          {{ partial "cta-button.html" . }}
        </div>

        <div
          class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-2 order-sm-2 order-xs-2"
        >
          <img src="https://res.cloudinary.com/hebu10lmu/image/upload/c_scale,f_auto,q_auto,w_560/v1591011302/www/features/manual-payment-tracking/money-transfer_of9ylm.png" loading="lazy"  alt="Pay your remote employees for
          work-related expenditure" />
        </div>
      </div>
    </div>
  </section>

  <section
    class="section bg-gray overflow-hidden align-items-center py-4 py-md-6"
  >
    <div class="container">
      <div class="row ">
        <div
          class="col-md-6 align-self-center text-center text-md-left order-md-2 order-sm-1 order-xs-1"
        >
          <h3 class="mb-3 mt-2">Get advice on payments to your remote team</h3>

          <p>
            At RemoteTeam Inc., through your manual tracking over a period, we
            learn your regular payments to remote teams and advise you on
            payment issues and any other processing problems that might slow
            down your payments - in case you need any help.
          </p>
          {{ partial "cta-button.html" . }}
        </div>

        <div
          class="col-md-6 mx-auto text-center mt-2 p-2 px-sm-2 mt-md-0 order-md-1 order-sm-2 order-xs-2"
        >
          <img src="https://res.cloudinary.com/hebu10lmu/image/upload/c_scale,f_auto,q_auto,w_560/v1591107519/www/features/manual-payment-tracking/payments-advice-fs8_xzz7rm.png" loading="lazy"  alt="Pay your remote employees for
          work-related expenditure" />
        </div>
      </div>
    </div>
  </section>

 


{{ end }}