{{ define "main" }}

  {{ partial "page-headline.html" . }}

  <section class="section bg-gray mx-4">
    <div class="container">
      <div class="row align-items-center">
        <p>
          The following brand guidelines have been made available to ensure
          proper use and execution of RemoteTeam.com's brand and assets, including
          any trademarks, logos, and/or content. To make any use of our marks in
          a way not covered by these guidelines, please contact us at
          support@remoteteam.com. All assets displayed on these pages are
          copyrights and trademarks of Remote Team Inc. Last update: February,
          2020
        </p>
      </div>
    </div>
  </section>

  <section class="section bg-gray mx-4">
    <div class="container">
      <h1 class="mt-2 mb-5">Logos</h1>
      <div class="row">
        <div class="col-md-3">
          <h4>SVG Dark</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582227525/company_logos/logo_z4j9jc.svg"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582227525/company_logos/logo_z4j9jc.svg"
            />
          </a>
        </div>
        <div class="col-md-3">
          <h4>PNG Dark</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582227526/company_logos/logo_lvgtnv.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582227526/company_logos/logo_lvgtnv.png"
            />
          </a>
        </div>
        <div class="col-md-3">
          <h4>SVG Light</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582288811/www/branding/logo/logo-white_ynmz1r.svg"
            ><div class="rounded p-2" style="background: #1D3B53">
              <img loading="lazy"
                class="rounded"
                src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582288811/www/branding/logo/logo-white_ynmz1r.svg"
              />
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <h4>PNG Light</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582288811/www/branding/logo/logo-white_od6cxp.png"
          >
            <div class="rounded p-2" style="background: #1D3B53">
              <img loading="lazy"
                class="rounded"
                src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582288811/www/branding/logo/logo-white_od6cxp.png"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-gray mx-4">
    <div class="container">
      <h1 class="mt-2 mb-5">Banners</h1>
      <div class="row mt-4">
        <div class="col-md-4">
          <h4>Product</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287546/www/branding/banner/index_banner_jkewr7.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287546/www/branding/banner/index_banner_jkewr7.png"
            />
          </a>
        </div>
        <div class="col-md-4">
          <h4>Productivity Management</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287580/www/branding/banner/productivitiy_management_1_io1o2r.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287580/www/branding/banner/productivitiy_management_1_io1o2r.png"
            />
          </a>
        </div>
        
        <div class="col-md-4">
          <h4>Time Off</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287569/www/branding/banner/time_off_banner_2_vqztuu.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287569/www/branding/banner/time_off_banner_2_vqztuu.png"
            />
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <h4>Tax Compliance</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287565/www/branding/banner/tax_compliance_banner_3_yn0bfx.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287565/www/branding/banner/tax_compliance_banner_3_yn0bfx.png"
            />
          </a>
        </div>

        <div class="col-md-4">
          <h4>Payments</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287554/www/branding/banner/payments_2_kjttmo.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287554/www/branding/banner/payments_2_kjttmo.png"
            />
          </a>
        </div>

        <div class="col-md-4">
          <h4>Payroll</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287548/www/branding/banner/payroll_banner_1_ophore.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287548/www/branding/banner/payroll_banner_1_ophore.png"
            />
          </a>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <h4>Inventory Management</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287547/www/branding/banner/inventory_management_banner_3_aotub7.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287547/www/branding/banner/inventory_management_banner_3_aotub7.png"
            />
          </a>
        </div>

        <div class="col-md-4">
          <h4>Team App</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287569/www/branding/banner/team_app_banner_2_sbslbg.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287569/www/branding/banner/team_app_banner_2_sbslbg.png"
            />
          </a>
        </div>

        <div class="col-md-4">
          <h4>Reimbursement</h4>
          <a
            target="_blank"
            href="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287558/www/branding/banner/reimbursement_banner_2_tie9ar.png"
          >
            <img loading="lazy"
              class="rounded"
              src="https://res.cloudinary.com/hebu10lmu/image/upload/v1582287558/www/branding/banner/reimbursement_banner_2_tie9ar.png"
            />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section bg-gray mx-2">
    <div class="container">
      <h1 class="mt-2 mb-5">RemoteTeam Brand Colors</h1>

      <div class="row gap-y">
        <div class="row gap-y text-center">
          
          <div class="col-md-6 col-xl-3 col-md-3 my-4 text-left feature-1">
            <div class="media p-1">
              <div class="lead-6 line-height-1 text-dark w-70px">
                <div
                  class="rounded"
                  style="background-color: #2d46c1;height: 40px;width: 40px;"
                ></div>
              </div>
              <div class="media-body">
                <h3 class="lead-2">Blue</h3>
                <p class="text-muted">HEX: <strong>#2d46c1</strong></p>

                <p class="text-muted">RGB: <strong>45 / 70 / 193</strong></p>

                <p class="text-muted">
                  CMYK: <strong> 58%  / 48% / 0% / 24% </strong>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-3 col-md-3 my-4 text-left feature-2">
            <div class="media p-1">
              <div class="lead-6 line-height-1 text-dark w-70px">
                <div
                  class="rounded"
                  style="background-color: #ffebb7;height: 40px;width: 40px;"
                ></div>
              </div>
              <div class="media-body">
                <h3 class="lead-2">
                  Yellow
                </h3>

                <p class="text-muted">HEX: <strong>#ffebb7</strong></p>

                <p class="text-muted">RGB: <strong>255 / 235 / 183  </strong></p>

                <p class="text-muted">
                  CMYK: <strong>C 0%   M 8%   Y 28%   K 0%</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-3 col-md-3 my-4 text-left feature-3">
            <div class="media p-1">
              <div class="lead-6 line-height-1 text-dark w-70px">
                <div
                  class="rounded"
                  style="background-color: #24273F;height: 40px;width: 40px;"
                ></div>
              </div>
              <div class="media-body">
                <h3 class="lead-2">Dark Blue</h3>
                <p class="text-muted">HEX: <strong>#24273F</strong></p>

                <p class="text-muted">RGB: <strong>R 36   G 39   B 63  </strong></p>

                <p class="text-muted">
                  CMYK: <strong>C 11%   M 9%   Y 0%   K 75%</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-3 col-md-3 my-4 text-left feature-3">
            <div class="media p-1">
              <div class="lead-6 line-height-1 text-dark w-70px">
                <div
                  class="rounded"
                  style="background-color: #de774e;height: 40px;width: 40px;"
                ></div>
              </div>
              <div class="media-body">
                <h3 class="lead-2">Orange</h3>
                <p class="text-muted">HEX: <strong>#de774e</strong></p>

                <p class="text-muted">RGB: <strong>R 222   G 119   B 78 </strong></p>

                <p class="text-muted">
                  CMYK: <strong>C 0%   M 40%   Y 56%   K 13%</strong>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- <section class="section bg-gray mx-4">
    <div class="container">
      <h1 class="mt-2 mb-5">Brand Guidelines</h1>
    </div>
  </section>

  <section class="section bg-gray mx-4">
    <div class="container">
      <h1 class="mt-2 mb-5">App Icon</h1>
    </div>
  </section>

  <section class="section bg-gray mx-4">
    <div class="container">
      <h1 class="mt-2 mb-5">Brand & Product Images</h1>
    </div>
  </section> -->

{{ end }}